@import "@styles/variables.module"

.root
  width: 100%
  padding: 20px 0 40px

.topLine
  display: flex
  flex-direction: column
  align-items: center

.header
  display: flex
  flex-direction: column
  width: 100%
  max-width: 327px
  letter-spacing: 0.08em
  margin: 0 auto
  text-transform: uppercase
  line-height: .8
  font-size: 48px
  font-weight: 400
  font-family: $font-headers

.second
  margin-left: auto

.description
  font-family: $font-headers
  color: $primary-100
  font-size: 24px
  font-weight: 400

.images
  display: flex
  flex-direction: column
  margin-top: 40px

.image1
  width: 100%
  height: auto

.image2
  width: 65%
  height: auto
  margin-left: auto
  margin-top: -50%

.imageDesktop
  display: none

@media (min-width: $desktop)
  .root
    padding: 120px 0 0
  .header
    display: block
    max-width: none
    text-align: center
    font-size: 124px
    line-height: 150px
    letter-spacing: 0
    text-transform: none
  .second
    margin-left: 0
  .description
    font-size: 54px
    line-height: 68px
    letter-spacing: 0.16em
    font-weight: 400
  .images
    margin-top: 87px
  .image1, .image2
    display: none
  .imageDesktop
    display: block
  .image1
    width: 912px
    margin-left: auto
    margin-right: auto
  .image2
    width: 774px
    margin-top: -30%