@import "@styles/variables.module"

.root
  width: 100%

.time
  margin: 16px 0
  display: block
  color: $secondary-80
  font-size: 0.875rem
  font-weight: 400

.main
  padding: 44px 0

.footerHeader
  margin: 12px 0
  font-size: 1rem
  font-weight: 700

.tags
  display: flex
  flex-wrap: wrap
  width: calc(100% + 12px)
  margin-right: -12px
  margin-bottom: -8px
  max-width: 262px

.tag
  margin-right: 12px
  margin-bottom: 8px

@media (min-width: $tablet)
  .footerHeader
    font-size: 1.125rem