@import "@styles/variables.module"

.root
  width: 100%

.image
  margin-bottom: 20px
  +.blockquote
    margin-top: -20px

.header
  font-weight: 600
  font-size: 1.5rem
  line-height: 1.17

.blockquote
  margin: 0
  text-align: center
  font-family: $font-headers
  font-size: 1.5rem
  padding: 40px 0
  max-width: 340px
  margin-left: auto
  margin-right: auto

.description
  font-weight: 400
  color: $secondary-80
  margin-top: 24px

@media (min-width: $desktop)
  .image
    margin-bottom: 40px
    +.blockquote
      margin-top: -40px
  .header
    font-size: 1.75rem
  .description
    font-size: 1.125rem
