@import "@styles/variables.module"

.root
  display: flex
  flex-direction: column
  > p
    line-height: 1.25
    &:not(:last-of-type)
      margin-bottom: 8px

.image
  position: relative
  min-height: 377px

.content
  display: flex
  flex-direction: column
  line-height: 1.25

.category
  text-transform: uppercase
  color: $primary-100
  font-size: 0.875rem
  margin: 20px 0

.header
  font-weight: 600
  font-size: 1.25rem
  line-height: 1.25
  margin-bottom: 16px

.button
  margin-top: 28px

@media (min-width: $tablet)
  .root
    flex-direction: row
    width: 100%
    min-height: 450px
    &:nth-child(2n)
      .content
        order: -1
        margin-left: auto
      .image
        padding-right: 0
        margin-left: 18px
  .image
    width: 50%
    margin-right: 18px
  .content
    width: 50%
    justify-content: center
  .header
    max-width: 546px
  .description
    max-width: 490px
  .category
    margin-top: 0
  .button
    margin-top: 20px

@media (min-width: $Ltablet)
  .root
    min-height: 500px
    &:nth-child(2n)
      .image
        margin-left: 24px
  .image
    margin-right: 24px
  .button
    margin-top: 40px