@import "@styles/variables.module"

.root
  display: flex
  height: 100%
  flex-direction: column
  width: 100%
  position: relative
  max-width: 1000px

.guaranty
  margin: 45px 0 80px

.header
  font-size: 1rem
  margin-bottom: 8px
  font-weight: 500

.description
  font-size: 0.875rem
  color: $secondary-80

.bottom
  position: sticky
  bottom: 0

@media (min-width: $Ltablet)
  .root
    flex-direction: row
    margin-bottom: 120px
  .bottom
    position: relative
  .checkout
    position: sticky
    top: 158px
    min-width: 328px
    margin-left: 120px
  .guaranty
    margin-bottom: 0
