@import "@styles/variables.module"

.image
  width: 100%
  padding: 22px 30px
  border: 1px solid $primary-20
  background-color: $light-100
  border-radius: 8px

.header
  margin-top: 20px
  font-family: $font-headers
  font-size: 1.5rem
  font-weight: 400

.price
  margin-top: 10px
  font-weight: 400
  color: $primary-100

.description
  padding: 20px 0
  line-height: 1.25

.button
  margin-top: 20px

.buttonSale
  margin-top: 12px
  display: flex
  align-items: center
  justify-content: center

.icon
  width: 20px
  height: 20px
  margin-right: 4px