@import "@styles/variables.module"

.cart
  background-color: transparent
  border: none
  box-shadow: none
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  padding: 5px
  margin: -5px
  outline: none

.cart
  &.active
    position: relative
    &::after
      content: ''
      position: absolute
      top: 5px
      right: 5px
      width: 8px
      height: 8px
      border-radius: 50%
      background: $gradient-main