@import "@styles/variables.module"

.cart
  background-color: transparent
  border: none
  box-shadow: none
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  padding: 5px
  margin: -5px
  outline: none
  position: relative
  z-index: 2
  max-height: 34px
  &::before
    position: absolute
    top: -6px
    left: -6px
    right: -6px
    bottom: -6px
    content: ''
    background-color: $primary-20
    z-index: -1
    border-radius: 50%
    transform: scale(0)
    transition: transform $animationTime
  &:hover
    &::before
      transform: scale(1)

.cart
  &.active
    position: relative
    &::after
      content: ''
      position: absolute
      top: 5px
      right: 5px
      width: 8px
      height: 8px
      border-radius: 50%
      background: $gradient-main
