@import "@styles/variables.module"

.separatorTop
  margin-top: 20px

.separatorBottom
  margin: 8px 0 20px

.blockCta
  margin-top: 20px

.title
  margin-bottom: 34px

.products
  padding: 20px 0

.blockCta
  margin-top: 20px

.toastContainer
  top: 0
  padding: 0
  width: 100%

.toast
  padding: 20px 0
  box-shadow: none
  border-radius: 0px 0px 8px 8px
  background: $background-dark

.toastBody
  width: 100%
  padding: 0

@media (min-width: $tablet)
  .products
    padding-bottom: 40px
  .blockCta
    margin-top: 40px
  .title, .breadCrumbs, .separator
    z-index: 4
    position: relative
  .breadCrumbs
    margin-bottom: 20px
    display: none
  .breadCrumbsTablet
    display: flex
  .separatorTop
    margin-top: 30px
    margin-bottom: 13px
  .separatorBottom
    margin: 13px 0 20px

@media (min-width: $Ltablet)
  .products
    padding-bottom: 60px
  .blockCta
    margin-top: 60px
  .article
    display: flex
    width: 100%
    max-width: 1116px
    align-items: flex-start
    position: relative
  .image
    width: 50%
    margin-right: 12px
    position: sticky
    top: 138px
    left: 0
    margin-bottom: 20px
  .content
    width: 50%
    margin-left: 12px
  .breadCrumbs
    display: flex
  .breadCrumbsTablet
    display: none
  .separatorTop
    margin-top: 40px
    margin-bottom: 26px
  .separatorBottom
    display: none