@import "@styles/variables.module"

.root
  width: 100%
  line-height: 1.4
  p + div
    margin-top: 16px !important
  h2
    font-family: $font-headers
    margin-top: 64px
    margin-bottom: 24px
    font-size: 1.5rem
    + figure
      margin-top: 0
    \:global(+ .kg-bookmark-card)
      margin-top: 0
  h3
    font-weight: 500
    font-size: 1rem
    line-height: 1.4
    margin-top: 24px
    margin-bottom: 16px
    + figure
      margin-top: 0
    \:global(+ .kg-bookmark-card)
      margin-top: 0
  p
    line-height: 1.4
    &:not(:first-of-type)
      margin-top: 16px
  ul
    margin-top: 16px
    line-height: 1.4
  blockquote
    padding: 28px 16px 40px
    background: $primary-20
    border: 1px solid $primary-100
    border-radius: 8px
    margin: 24px 0 0
    max-width: 450px
    h2
      font-weight: 500
      font-size: 1.5rem
      margin-top: 0
      margin-bottom: 8px
  img
    width: 100%
    height: auto
    margin: 0
  figure
    margin: 16px 0
    figcaption
      text-align: center
      padding: 0 16px
      margin-top: 16px
  hr
    display: block
    padding: 0
    border: 0
    height: 1px
    border-top: 1px solid $primary-40
    margin: 24px 0
    + h2, + h3, + p, + ul, + figure
      margin-top: 0
  // Images
  img
    display: block
    max-width: 100%
  \:global(.kg-width-wide)
    position: relative
    width: 85vw
    min-width: 100%
    margin: auto calc(50% - 50vw)
    transform: translateX(calc(50vw - 50%))
  \:global(.kg-width-full)
    position: relative
    width: 100vw
    left: 50%
    right: 50%
    margin-left: -50vw
    margin-right: -50vw
  // Gallery Images
  \:global(.kg-gallery-container)
    display: flex
    flex-direction: column
    margin: 16px auto
    max-width: 1040px
    width: 100%
  \:global(.kg-gallery-row)
    display: flex
    flex-direction: row
    justify-content: center
    &:not(:first-of-type)
      margin: 0.75em 0 0 0
    &:not(:first-of-type)
      margin: 0 0 0 0.75em
  \:global(.kg-gallery-image)
    margin: .2rem
    img
      display: block
      margin: 0
      width: 100%
      height: 100%
  // Bookmark
  \:global(.kg-bookmark-card)
    width: 100%
    position: relative
    margin: 24px 0 0
  \:global(.kg-bookmark-container)
    display: flex
    flex-direction: column
    flex-wrap: wrap
    font-family: inherit
    text-decoration: none
    color: currentColor
    background: $primary-20
    border: 1px solid $primary-100
    border-radius: 8px
    overflow: hidden
    transition: background-color $animationTime
    &:hover
      text-decoration: none
      background: $primary-40
  \:global(.kg-bookmark-content)
    flex-basis: 0
    flex-grow: 999
    padding: 28px 16px
    order: 1
    display: flex
    flex-direction: column
    justify-content: center
  \:global(.kg-bookmark-title)
    font-weight: 600
  \:global(.kg-bookmark-metadata)
    margin-top: 1.3em
    align-items: center
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  \:global(.kg-bookmark-description)
    margin-top: .5em
    display: -webkit-box
    -webkit-box-orient: vertical
    -webkit-line-clamp: 2
    overflow: hidden
  \:global(.kg-bookmark-icon)
    display: inline-block
    width: 1em
    height: 1em
    vertical-align: text-bottom
    margin-right: .5em
  \:global(.kg-bookmark-thumbnail)
    display: flex
    flex-basis: 24rem
    flex-grow: 1
    max-height: 180px
    img
      max-width: 100%
      height: auto
      vertical-align: bottom
      object-fit: cover
  \:global(.kg-bookmark-author)
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
  \:global(.kg-bookmark-publisher)
    &::before
      content: "•"
      margin: 0 .5em
  // Embed
  \:global(.kg-embed-card)
    width: 100%
    position: relative
    overflow: hidden
    padding-top: 56.25%
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
    \:global(.twitter-tweet)
      margin-top: -56.25% !important
  // Code
  code
    word-wrap: break-word
    box-decoration-break: clone
    font-family: monospace
    font-size: inherit
    padding: .05rem .3rem .1rem
    background: $primary-20
    border: 1px solid $primary-100
    border-radius: 8px
  pre code
    margin: 16px 0
    display: block
    background: none
    white-space: pre
    -webkit-overflow-scrolling: touch
    overflow-x: scroll
    max-width: max-content
    min-width: 100px
    padding: 16px
    background: $primary-20
    border: 1px solid $primary-100
    border-radius: 8px
  *:first-child
    margin-top: 0

@media (min-width: $Lphone)
  .root
    \:global(.kg-bookmark-thumbnail)
      max-height: 260px
    \:global(.kg-gallery-image)
      margin: .5rem

@media (min-width: $tablet)
  .root
    \:global(.kg-bookmark-container)
      flex-direction: row-reverse
    \:global(.kg-bookmark-thumbnail)
      max-height: none
      max-width: 40%

@media (min-width: $tablet)
  .root
    font-size: 1.125rem
    p + div
      margin-top: 20px !important
    h2
      margin-top: 68px
      margin-bottom: 28px
      font-size: 1.625rem
    h3
      margin-top: 28px
      margin-bottom: 20px
      font-size: 1.375rem
    p
      &:not(:first-of-type)
        margin-top: 20px
    ul
      margin-top: 20px
      li:not(:last-of-type)
        margin-bottom: 16px
    blockquote
      padding: 28px 18px 40px
      margin: 28px 0 0
      h2
        font-size: 1.625rem
        margin-bottom: 12px
    figure
      margin: 20px 0
      figcaption
        padding: 0 20px
    pre code
      margin: 20px 0
    \:global(.kg-gallery-container)
      margin: 20px auto
    hr
      margin: 36px 0

@media (min-width: $Ltablet)
  .root
    p + div
      margin-top: 24px !important
    h2
      margin-top: 72px
      margin-bottom: 32px
      font-size: 1.75rem
    h3
      margin-top: 32px
      margin-bottom: 24px
      font-size: 1.5rem
    p
      &:not(:first-of-type)
        margin-top: 24px
    ul
      margin-top: 24px
      li:not(:last-of-type)
        margin-bottom: 16px
    blockquote
      padding: 28px 20px 40px
      margin: 32px 0 0
      h2
        font-size: 1.75rem
        margin-bottom: 16px
    figure
      margin: 24px 0
      figcaption
        padding: 0 24px
    pre code
      margin: 24px 0
    \:global(.kg-gallery-container)
      margin: 24px auto
    hr
      margin: 48px 0