@import "@styles/variables.module"

.root
  width: 100%
  p + div
    margin-top: 16px !important
  h2
    font-family: $font-headers
    margin-top: 64px
    margin-bottom: 24px
    font-size: 1.5rem
  h3
    font-weight: 500
    font-size: 1rem
    line-height: 1.25
    margin-top: 24px
    margin-bottom: 16px
  p
    line-height: 1.25
    &:not(:first-of-type)
      margin-top: 16px
  ul
    margin-top: 16px
    line-height: 1.25
  blockquote
    padding: 28px 16px 40px
    background: $primary-20
    border: 1px solid $primary-100
    border-radius: 8px
    margin: 24px 0 0
    max-width: 450px
    h2
      font-weight: 500
      font-size: 1.5rem
      margin-top: 0
      margin-bottom: 8px

@media (min-width: $tablet)
  .root
    font-size: 1.125rem
    p + div
      margin-top: 20px !important
    h2
      margin-top: 68px
      margin-bottom: 28px
      font-size: 1.625rem
    h3
      margin-top: 28px
      margin-bottom: 20px
      font-size: 1.375rem
    p
      &:not(:first-of-type)
        margin-top: 20px
    ul
      margin-top: 20px
      li:not(:last-of-type)
        margin-bottom: 16px
    blockquote
      padding: 28px 18px 40px
      margin: 28px 0 0
      h2
        font-size: 1.625rem
        margin-bottom: 12px

@media (min-width: $Ltablet)
  .root
    p + div
      margin-top: 24px !important
    h2
      margin-top: 72px
      margin-bottom: 32px
      font-size: 1.75rem
    h3
      margin-top: 32px
      margin-bottom: 24px
      font-size: 1.5rem
    p
      &:not(:first-of-type)
        margin-top: 24px
    ul
      margin-top: 24px
      li:not(:last-of-type)
        margin-bottom: 16px
    blockquote
      padding: 28px 20px 40px
      margin: 32px 0 0
      h2
        font-size: 1.75rem
        margin-bottom: 16px