@import "@styles/variables.module"

.root
  padding: 40px 0 60px
  width: 100%

.header
  font-weight: 500
  font-family: $font-headers
  font-size: 1.5rem
  margin-bottom: 22px

@media (min-width: $tablet)
  .root
    padding: 67px 0 40px
  .header
    font-size: 1.625rem

@media (min-width: $Ltablet)
  .root
    padding: 94px 0 40px
  .header
    font-size: 1.75rem