@import "@styles/variables.module"

.root
  padding: 40px 0 60px

.header
  font-weight: 500
  font-family: $font-headers
  font-size: 1.5rem
  margin-bottom: 22px

.post
  &:not(:last-of-type)
    margin-bottom: 12px