.root
  padding-bottom: 40px

.header
  margin-bottom: 24px

.tags
  display: flex
  flex-wrap: wrap
  width: calc(100% + 16px)
  margin-right: -16px
  margin-bottom: -12px

.tag
  margin-right: 16px
  margin-bottom: 12px