@import "@styles/variables.module"

.root
  padding: 20px 0 40px
  width: 100%

.header
  font-family: $font-headers
  font-weight: 700
  font-size: 1.5rem
  margin-bottom: 24px
  align-self: flex-start

.blog
  width: 100%

.post:not(:last-of-type)
  margin-bottom: 16px

.button
  margin-top: 16px
  display: flex
  align-items: center
  align-self: flex-start
  &:hover
    .icon
      transform: translateX(5px)

.icon
  margin-left: 4px
  transition: transform $animationTime
  path
    fill: $primary-100

@media (min-width: $desktop)
  .root
    padding: 40px 0
  .header
    font-size: 1.75rem
    margin-bottom: 30px
  .blog
    max-width: 888px
    display: grid
    grid-template-columns: repeat(2, 1fr)
    column-gap: 24px
    row-gap: 20px
  .post
    &:not(:last-of-type)
      margin-bottom: 0
    &:last-of-type
      grid-column: 1/3
  .button
    margin-top: 30px