@import "@styles/variables.module"

.root
  background-color: $secondary-80
  padding: 28px 0
  color: $light-100
  text-align: center

.row
  flex-direction: column
  align-items: center

.header
  font-size: 1rem
  font-weight: 500

.subHeader
  font-size: 0.875rem
  margin-top: 12px
  margin-bottom: 20px

.form
  position: relative
  width: 100%
  max-width: 432px

.input
  padding: 21px 74px 9px 20px

.button
  position: absolute
  top: 0
  right: 0
  height: 50px
  width: 54px
  display: flex
  justify-content: center
  align-items: center

@media (min-width: $tablet)
  .root
    padding: 40px 0
  .header
    font-size: 1.125rem
  .subHeader
    font-size: 1rem
    max-width: 375px

@media (min-width: $Ltablet)
  .root
    text-align: left
    padding: 55px 0
  .row
    flex-direction: row
    max-width: 1116px
    margin-left: auto
    margin-right: auto
  .content
    width: 50%
  .form
    width: 432px
    margin-right: auto
    margin-left: 12px
  .subHeader
    margin-top: 16px
    margin-bottom: 0