@import "@styles/variables.module"

.root
  display: flex
  flex-direction: column
  text-align: center

.header
  font-family: $font-headers
  font-size: 2.25rem
  letter-spacing: .04em
  margin-bottom: 14px
  font-weight: 400

.description
  line-height: 1.25
  color: $secondary-100
